/* estilos.css para computador */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    background-color: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

video {
    width: 960px;
    height: 540px;
    border: 5px solid #ffffff;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.2);
    background-color: black;
}
